# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Environment Variables
.env
!.env.example

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

# Project specific
uploads/
*.log
BackendProje/uploads/
BackendProje/__pycache__/
BackendProje/.venv/
