fastapi
uvicorn[standard]
sqlalchemy
pymysql
cryptography
python-jose[cryptography]
passlib[bcrypt]
bcrypt>=3.2,<4.1
python-dotenv
python-multipart
openpyxl
apscheduler
fastapi-mail
slowapi
email-validator>=2.0.0
